[submodule "charybdis"]
	path = charybdis
	url = https://github.com/bastardkb/bastardkb-qmk
    branch = bkb-master
[submodule "modules/getreuer"]
	path = modules/getreuer
	url = https://github.com/getreuer/qmk-modules.git
[submodule "imprint"]
	path = imprint
	url = https://github.com/Cyboard-DigitalTailor/vial-qmk
    branch = cyboard
[submodule "svalboard"]
	path = svalboard
	url = https://github.com/svalboard/vial-qmk.git
	branch = vial
