name: Build Imprint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - uses: cachix/cachix-action@v16
        with:
           name: yuanwang-wf
           authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build imprint
        run: nix develop --command just build imprint
